/* gallery.css */

/* Resetovanje osnovnih stilova */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #373737;
  color: #333;
  background-image: url('images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}

.gallery img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.gallery img:hover {
  transform: scale(1.05);
}

/* Stil za povećanu sliku */
.fullscreen-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.fullscreen-image img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  cursor: pointer;
}

/* Stil za zatvori dugme */
.close-button {
  position: absolute;
  top: 20px;
  right: 30px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
}

.close-button:hover {
  color: #bbb;
}

/* Stilovi za strelice */
.arrow {
  position: absolute;
  top: 50%;
  font-size: 48px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  cursor: pointer;
  user-select: none;
  z-index: 1001;
  display: block;
}

.arrow.left {
  left: 20px;
}

.arrow.right {
  right: 20px;
}

/* Stilizacija za header */
.page-header {
  max-width: calc(1460px); /* Postavi širinu da odgovara prvom redu od 5 thumbnail slika, uključujući razmake između slika */
  background-color: #121212; /* Pozadinska boja hedera */
  padding: 20px;
  text-align: center;
  margin: 0 auto; /* Centriranje hedera */
}

.page-title {
  font-size: 32px;
  color: #BABABA;
  margin-bottom: 10px; /* Razmak ispod naslova */
}

.header-info h2 {
  color: #ffcc00; /* Boja teksta "Gitar Servis" */
  margin: 5px 0;
}

.header-info p {
  color: #ffffff; /* Boja teksta u paragrafima */
  margin: 2px 0;
}
/* Stilizacija za footer */
.site-footer {
  background-color: #121212;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-info, .footer-hours, .footer-social {
  flex: 1;
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-info h3, .footer-hours h4, .footer-social h4 {
  color: #ffcc00;
  margin-bottom: 10px;
}

.footer-info p, .footer-hours p, .footer-social a {
  color: #ffffff;
  margin-bottom: 5px;
  text-decoration: none;
}

.footer-social a:hover {
  text-decoration: underline;
}

.footer-bottom {
  background-color: #0d0d0d;
  padding: 10px 0;
  margin-top: 20px;
}

.footer-bottom p {
  margin: 0;
  font-size: 14px;
}

.footer-social a {
  color: #ffffff; /* Boja linkova */
  margin-bottom: 5px;
  text-decoration: none;
}

.footer-social a:hover {
  text-decoration: underline;
  color: #17A9FD; /* Promena boje prilikom prelaska mišem */


