/* gallery.css */

/* Resetovanje osnovnih stilova */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #373737;
  color: #333;
  background-image: url('images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}

.gallery img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.gallery img:hover {
  transform: scale(1.05);
}

/* Stil za povećanu sliku */
.fullscreen-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.fullscreen-image img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  cursor: pointer;
}

/* Stil za zatvori dugme */
.close-button {
  position: absolute;
  top: 20px;
  right: 30px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
}

.close-button:hover {
  color: #bbb;
}

/* Stilizacija za naslov stranice */
.page-header {
  text-align: center;
  margin: 40px 0;
}

.page-title {
  font-size: 32px;
  color: #BABABA;
}



